<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>336678881652-qf126kq70fsnkkrl3hmgltad4ugt8sh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336678881652-qf126kq70fsnkkrl3hmgltad4ugt8sh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCzc79UuY84eeSbLpybj22Hdg_47_C9QAo</string>
	<key>GCM_SENDER_ID</key>
	<string>336678881652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.aleabroker.chemically</string>
	<key>PROJECT_ID</key>
	<string>chemically-f8cf1</string>
	<key>STORAGE_BUCKET</key>
	<string>chemically-f8cf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336678881652:ios:5e52726d0ea20e9c</string>
	<key>DATABASE_URL</key>
	<string>https://chemically-f8cf1.firebaseio.com</string>
</dict>
</plist>